<div [hidden]='uploading' style="margin-top:10px">
  <a href="javascript:;" (click)="clickInputFile()">
    <div id="drop_zone" class="dropzone" (drop)="dropFiles($event)"
    (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" [class.over]="dragoverflag">
      <span>이곳에 파일을 드래그 하거나 클릭해주세요.</span><br/>
      <span>10MB 이하의 JPG, JPEG, GIF, PNG 파일만 가능합니다.</span>
    </div>
  </a>
  <input type="file" id="imageFile" style="width:0; height:0" multiple (change)="fileChange($event)"/>
</div>
<div class="center" [hidden]='!uploading' style="margin-top:10px">
  <h2 style="font-family:Noto Sans KR, sans-serif; color:black">이미지를 등록, 변환중입니다. <p></p>잠시만 기다려주세요</h2>
  <img src="/image/work.gif"/>
</div>
